body {
  overflow: hidden;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#gallery-images::-webkit-scrollbar {
  width: 0.5em;
}

#gallery-images::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5)
}

#gallery-images::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 600px) {
  #gallery {
    height: 50vh;
  }

  #gallery-images {
    height: 25vh;
  }
}
